<div class="card-artist">
    <a href="{{this.artistUrl}}" target="_blank">
        <img src="{{this.artistImages.0.url}}">
        <div class="card-artist-info">
            <h4 class="name-artists">{{this.artistName}}</h4>
            <div>
                <p> <i class="fas fa-chart-line icon-artists"></i>{{this.artistPopularity}}</p>
                <p><i class="fas fa-users icon-artists"></i>{{this.artistFollowers}}</p>
            </div>
        </div>
     </a>
    
</div>