
<div class="container-music-recomendations">
    <h1>Recomendaciones</h1>
    <div class="container-cards-home">
        <div id="carousel">
            <div class="hideLeft">
                <img src="{{recomendations.0.album.images.0.url}}">
            </div>

            <div class="prevLeftSecond">
                <img src="{{recomendations.1.album.images.0.url}}">
            </div>

            <div class="prev">
                <img src="{{recomendations.2.album.images.0.url}}">
            </div>

            <div class="selected">
                <img src="{{recomendations.3.album.images.0.url}}">
            </div>

            <div class="next">
                <img src="{{recomendations.4.album.images.0.url}}">
            </div>

            <div class="nextRightSecond">
                <img src="{{recomendations.5.album.images.0.url}}">
            </div>

            <div class="hideRight">
                <img src="{{recomendations.6.album.images.0.url}}">
            </div>


            {{!--
            <div class="buttons">
                <button id="prev">Prev</button>
                <button id="next">Next</button>
            </div> --}}
        </div>
    </div>
</div>