<div class="container-music-releases">
    <h1>Releases</h1>
    <div class="container-cards-home">
        <div id="carousel">
            <div class="hideLeft">
                <img src="{{releases.0.images.0.url}}">
            </div>

            <div class="prevLeftSecond">
                <img src="{{releases.1.images.0.url}}">
            </div>

            <div class="prev">
                <img src="{{releases.2.images.0.url}}">
            </div>

            <div class="selected">
                <img src="{{releases.3.images.0.url}}">
            </div>

            <div class="next">
                <img src="{{releases.4.images.0.url}}">
            </div>

            <div class="nextRightSecond">
                <img src="{{releases.5.images.0.url}}">
            </div>

            <div class="hideRight">
                <img src="{{releases.6.images.0.url}}">
            </div>


            {{!--
            <div class="buttons">
                <button id="prev">Prev</button>
                <button id="next">Next</button>
            </div> --}}
        </div>
    </div>