<div class="home-container container-page">
    <h1>{{releases.0.name}}</h1>
    <h1>{{releases.0.name}}</h1>
    <h1>{{releases.0.name}}</h1>
    <h1>{{releases.0.name}}</h1>
    <h1>{{releases.0.name}}</h1>
    <h1>{{releases.0.name}}</h1>
    <h1>{{releases.0.name}}</h1>
</div>
