<!DOCTYPE html>
<html>

<head>
  <title>Social Dashboard</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <nav class="navbar fixed-top">
    <img class="logo-navbar" src="images/spotifyLogo.png"> 
    {{#if session}}
        <div class="float-right">
          <form action="/artists" method="post">
            <button class="button-navbar"> Top artistas</button>
          </form>
        </div>
        <div class="float-right">
          <form action="/songs" method="post">
            <button class="button-navbar"> Top canciones</button>
          </form>  
        </div>
        <div class="user-navbar float-right">
          <a class="user-navbar-url" style="cursor: pointer;" href="{{session.userUrl}}" target="_blank">
            <img src="{{session.images}}">
            <h5>Perfil</h5>    
          </a>
          <div class="infoUser float-right">
            <div>{{session.userName}}</div>
            <div>{{session.email}}</div>
            <div>Followers: {{session.followers}}</div>
            <div>Product: {{session.product}}</div>
            <div><a class="nav-link text-danger" href="/login/logout">Logout</a></div>
          </div>
        </div>
        
    {{/if}}

  </nav>

  {{{body}}} 

  {{!-- SCRIPTS --}}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="javascripts/index.js"></script>
</body>

</html>